*, *:after, *:before {
  @include boxSizing;
}

*, html, body, h1, h2, h3, p, a, span {
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
}

body {
  font-size: 16px;
}

.rel {
  position: relative !important;
}

.abs {
  position: absolute !important;
}

.bg-gray {
  background-color: $gray;
}

.preloader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("../../../images/preloader.GIF") center no-repeat;

}